<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PawForum</title>
    <link rel="stylesheet" href="/app/static/css/style.css" />
  </head>
  <footer>
    <div class="footer-content">
      <div class="social-icons">
        <span class="footer-text">FOLLOW US</span>
        <div class="icon-container">
          <a href="https://www.instagram.com/your-profile" target="_blank">
            <img
              src="/app/static/image/instagram-icon.png"
              alt="Instagram Icon"
            />
          </a>
          <a href="https://www.twitter.com/your-profile" target="_blank">
            <img src="/app/static/image/twitter-icon.png" alt="Twitter Icon" />
          </a>
          <a href="https://www.facebook.com/your-page" target="_blank">
            <img
              src="/app/static/image/facebook-icon.png"
              alt="Facebook Icon"
            />
          </a>
        </div>
      </div>
      <div class="footer-power">
        <img
          src="/app/static/image/paw.png"
          alt="Paw Logo"
          class="footer-logo"
        />
        <span class="footer-text">Powered by PawForum, 2024</span>
      </div>
    </div>
  </footer>
</html>
