<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PawForum</title>
    <link rel="stylesheet" href="../../static/css/forum_topic.css" />
  </head>
  <body>
  <div class="forum-post">
    <div class="forum-header">
      <img src="../../image/avatar.png" alt="User Avatar" class="avatar" />
      <div class="user-info">
        <span class="username">Banana Lala</span>
        <span class="post-time">3 days ago</span>
      </div>
    </div>
    <h2 class="forum-title">Finding the Right Pet Sitter</h2>
    <p class="forum-description">
      Discuss and share experiences on finding reliable pet sitters. What are
      the best practices for vetting a sitter? How do you ensure your pet is
      comfortable and safe in someone else's care?
    </p>
    <div class="forum-images">
      <img src="../../image/cat.png" alt="Cat" />
      <img src="../../image/dog.png" alt="Dog" />
      <img src="../../image/pig.png" alt="Pig" />
    </div>
    <div class="forum-footer">
        <span class="likes"><i class="fa fa-heart"></i>Like: 2.3k</span>
        <span style="margin-right: 550px" class="comments"><i class="fa fa-comment"></i>Comments: 56</span>
    </div>
  </div>
</html>
</body>
</html>