<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PawForum</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navbar-left">
                <img src="paw.png" alt="Paw Logo" class="logo">
                <span>PawForum</span>
            </div>
            <div class="nav-links">
                <a href="#">DAILY</a>
                <a href="#">PETSITTING</a>
                <a href="#">ADOPTION</a>
            </div>
            <div class="nav-right">
                <button class="nav-log">Log In</button>
                <button class="nav-signup">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="nav-main">
            <h1>Welcome to the PawForum</h1>
            <div class="searchbar">
                <input type="text" placeholder="Search your forum or topic here">
                <button class="search-btn">SEARCH</button>
            </div>
        </div>
    </nav>
</body>
</html>