{% block content %}
<div>
  {% include 'components/forum_detail.html' %}
  <!-- <iframe src="/app/templates/components/forum_detail.html" frameborder="0" style="width: 100%; height: 100%"></iframe> -->
</div>
<div class="reply-section">
  <div class="reply-form">
    <p>Add a comment</p>
    <textarea placeholder="Write your reply here "></textarea>
    <button id="submitReplyBtn">Submit</button>
  </div>
  <div class="replies">
    <div class="reply">
      <div class="reply-header">
        <img
          src="{{ url_for('static', filename='image/avatar.png') }}"
          alt="User Avatar"
          class="reply-avatar"
        />
        <span class="reply-username">Username</span>
        <span class="reply-time">2023-05-24 10:30</span>
      </div>
      <div class="reply-content">This is a sample reply.</div>
      <div class="reply-footer">
        <button class="reply-button">Reply</button>
      </div>
      <div class="nested-reply-form">
        <textarea placeholder="Write your reply..."></textarea>
        <button class="submit-nested-reply">Reply</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/topic_reply.js') }}"></script>
{% endblock %}
