
body {
    margin: 0;
}

nav {
    background-image: url('navpic.jpg');
    background-size:cover;
    background-position: center;
    padding:40px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.navbar {
    background-color: white;
    padding: 5px 50px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: -20px;
  }
.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left span {
    font-weight: bold;
    margin-left: 10px;
    font-size: larger;
}
.nav-links{
    display: flex;
}

.nav-links a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
}
.nav-log {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-signup {
    background-color: #FD6C45;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.nav-main {
    text-align: center;
    color: black;
    margin-top: -70px;
}

.nav-main h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.searchbar input {
    flex: 1;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-btn {
    background-color: #FD6C45;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px 20px;
    cursor: pointer;
}

/* FOOTER*/
footer {
    background-color: #FFEDE4;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footer-power {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .footer-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .footer-text {
    font-size: 14px;
    color: #333;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .social-icons {
    margin-left: 20px;
    flex-direction: column;
  }
  
  .social-icons a {
    display: inline-flex;
    align-items: center;
    margin: 0 8px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
.social-icons span{
    font-size: x-large;
    font-weight: bolder;
  }