{% extends "base.html" %}

{% block content %}
<div class="Activity">
    <h2>Notification</h2>
    <ul>
        {% for activity in activities %}
        <li>
            {% if activity.user_id == current_user.id and activity.target_user_id %}
                You {{ activity.action }} on {{ activity.user.username }}
            {% elif activity.target_user_id == current_user.id %}
                {{ activity.user.username }} {{ activity.action }} on you
            {% elif activity.user_id == current_user.id and not activity.target_user_id %}
                You {{ activity.action }}
            {% else %}
                {{ activity.user.username }} {{ activity.action }}
            {% endif %}
            - {{ activity.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
