{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<a href="{{ url_for('post_detail', post_id=post.id) }}">
  <div class="forum-post">
    <div class="forum-header">
      <img src="{{ url_for('static', filename='image/avatars/' + post.user.user_image) }}" alt="User Avatar" class="avatar">
      <div class="user-info">
        <span class="username">{{ post.user.username }}</span>
        <span class="post-time">
          {% if post.created_at %} {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }} {% else %} N/A {% endif %}
        </span>
      </div>
    </div>
    <h2 class="forum-title">{{ post.title }}</h2>
    <p class="forum-description">{{ post.content }}</p>
    <div class="forum-images">
      {% if post.image_name %}
        <img src="{{ url_for('static', filename='image/uploads/' + post.image_name) }}" alt="Post Image">
      {% endif %}
    </div>
    <div class="forum-footer">
      <span class="likes">
        <img src="{{ url_for('static', filename='image/like.png') }}" alt="Like" class="like-icon" id="likeToggleDetail" />
        <span id="likeCount">{{ post.like_count }}</span>
      </span>
      <span class="comments">
        <img src="{{ url_for('static', filename='image/comment.png') }}" alt="Comment" class="comment-icon" />
        <span id="commentCount">{{ post.comment_count }}</span>
      </span>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}
