{% extends "base.html" %}

{% block title %}PawForum{% endblock %}

{% block content %}
    <div class="Signup">
      <h1>Log in Account</h1>

      <form class="SignupForm">
        <span style="margin-right: 200px"> Email</span>
        <input type="text" placeholder="xx@gmail.com" required />
        <span style="margin-right: 170px"> Password</span>
        <input type="text" placeholder="Enter your password" required />
        <button type="submit" class="login-button">LOG IN</button>
      </form>
    </div>
{% endblock %}