<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PawForum</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <iframe src="./components/nav-unlog.html" frameborder="0" style="width: 100%; height:350px;"></iframe>

    <div class="CreatePost">
    <h1>Create Post</h1>
    
    <div class="PostTitle">
        <lable>Title</lable>
        <input type="text" paceholder="20 words maximum" required>
    </div>

        <div class="tags">
            <label>Add Tag</label>  
            <input type="radio" id="tag1" name="tag" value="Daily">
            <label for="tag1" class="tag">Daily</label>
            <input type="radio" id="tag2" name="tag" value="Foster">
            <label for="tag2" class="tag">Petsitting</label>
            <input type="radio" id="tag3" name="tag" value="Adoption">
            <label for="tag3" class="tag">Adoption</label>
        </div>

    <div class="Postbody">
        <label>Body</label>
        <textarea id="body" rows="10" placeholder="Enter your post content here..."></textarea>
    </div>

    <div class="PostSubmit">
        <button class="PostSubmitbtn">Submit</button>
    </div>
</div>
<iframe src="./components/footer.html" frameborder="0" style="width: 100%; height: auto;"></iframe>

</body>
</html>