<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PawForum</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>
<body>
    <iframe src="/app/templates/components/nav-unlog.html" frameborder="0" style="width: 100%; height:300px;"></iframe>

<div class ="Signup">
    <h1>Create Account</h1>
    <div class="CreateAccountLogo">
    <a href="#" onclick="socialSignUp('twitter')"><img src="/app/static/image/l1.jpg" alt="tw">
    <a href="#" onclick="socialSignUp('google')"><img src="/app/static/image/l2.png" alt="gg">
    <a href="#" onclick="socialSignUp('facebook')"><img src="/app/static/image/l3.png" alt="fb">
    </div>

<form class = "SignupForm">
    <span> Or use your email for registration</span>
    <input type="text" placeholder="Name" required>
    <input type="text" placeholder="Email" required>
    <input type="password" placeholder="Password" required>
    <button type="submit">SIGN UP</button>
</form>
</div>

<iframe src="/app/templates/components/footer.html" frameborder="0" style="width: 100%; height: auto;"></iframe>

</body>