<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PawForum</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <iframe
      src="./components/nav-unlog.html"
      frameborder="0"
      style="width: 100%; height: 300px"
    ></iframe>

    <div class="Signup">
      <h1>Log in Account</h1>

      <form class="SignupForm">
        <span style="margin-right: 200px"> Email</span>
        <input type="text" placeholder="xx@gmail.com" required />
        <span style="margin-right: 170px"> Password</span>
        <input type="text" placeholder="Enter your password" required />
        <button type="submit" class="login-button">LOG IN ACCOUNT</button>
      </form>
    </div>

    <iframe
      src="./components/footer.html"
      frameborder="0"
      style="width: 100%; height: auto"
    ></iframe>
  </body>
</html>
