<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
<div class="Signup">
    <h1>Create Account</h1>
    <div class="CreateAccountLogo">
        <a href="#" onclick="socialSignUp('twitter')"><img src="{{ url_for('static', filename='image/l1.jpg') }}" alt="tw"></a>
        <a href="#" onclick="socialSignUp('google')"><img src="{{ url_for('static', filename='image/l2.png') }}" alt="gg"></a>
        <a href="#" onclick="socialSignUp('facebook')"><img src="{{ url_for('static', filename='image/l3.png') }}" alt="fb"></a>
    </div>

    <form class="SignupForm" method="POST" action="{{ url_for('signup') }}">
        <span>Or use your email for registration</span>
        <input type="text" name="username" placeholder="User Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required pattern=".{8,}" title="Password must be at least 8 characters long">
        <button type="submit">SIGN UP</button>
    </form>
</div>
{% endblock %}
</body>
</html>
